{% extends "base.html" %}
{% block content %}
    <!-- Page Content -->
    <div class="w3-padding-large" id="Metodos">
        <!-- Header/Home -->
        <header class="w3-container w3-padding-32 w3-center w3-black" id="Metodos">
            <h1 class="w3-jumbo"><span class="w3-hide-small">Métodos</span></h1>
        </header>

        <!-- Resumenes Section -->
        <div class="w3-text-grey" id="Métodos">
            <h2 class="w3-hide-large  w3-hide-medium w3-text-light-grey"> Métodos</h2>
            <hr class="w3-hide-large w3-hide-medium" style="width:200px" class="w3-opacity">
            <a href="/punto_fijo">
                <h3 class="w3-hide-small" style="margin-left: 300px; margin-right: 830px; border-style: double; text-align: center;">Punto
                    Fijo</h3>
            </a>
            <a href="/metodo_newton">
                <h3 class="w3-hide-small" style="margin-left: 300px; margin-right: 830px; border-style: double; text-align: center;">
                    Newton</h3>
            </a>
            <a href="/punto_fijo">
                <h4 class="w3-hide-medium w3-hide-large"  style="border-style: double; text-align: center;">Punto
                    Fijo</h4>
            </a>
            </br>
            <a href="/metodo_newton">
                <h4 class="w3-hide-medium w3-hide-large" style="border-style: double; text-align: center;">
                    Newton</h4>
            </a>
        </div>
    </div>
{% endblock %}