urllib3
asgiref==3.2.3
cycler==0.10.0
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.0.2
django-heroku==0.3.1
docopt==0.6.2
gitignore==0.0.8
gunicorn==20.0.4
kiwisolver==1.1.0
matplotlib==3.1.2
mpmath==1.1.0
numpy==1.18.1
pandas==1.0.0
psycopg2==2.8.4
psycopg2-binary==2.8.4
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
scipy==1.4.1
six==1.14.0
sqlparse==0.3.0
static3==0.7.0
sympy==1.5.1
whitenoise==5.0.1
