{% extends 'base.html' %}
{#{% load static %}#}
{% block content %}
    {#    <img src="{% static 'sad_cat.png'%}">#}
    <pre>
        <p style="font-size: 1.8vw; margin-left: -6vw;">
                       ;\
                      _' \_
                    ,' '  '`.
                   ;,)       \
                  /          :
                  (_         :
                   `--.       \
                      /        `.
                     ;           `.
                    /              `.
                   :                 `.
                   :                   \
                    \\                  \
                     ::                 :
                     || |               |
                     || |`._            ;
                    _;; ; __`._,       (________
                  ((__/(_____(______,'______(___)
            Error 404... Por aquí no hay nada.
        </p>
        <a href="/" class="button"><span>Regresar</span></a>
    </pre>
{% endblock %}