{% extends "base.html" %}
{% block content %}
<style>
    h6 {
        margin-left: 140px;
        margin-right: 50px;
        text-align: justify;
        font-size: 20px;
    }
    h5{text-align: justify;}
    p{
        font-size: 13px;
        text-align: justify;   
    }
</style>

    <div class="w3-padding-large" id="Céditos">
     <!-- Header/Home -->
      <header class="w3-center" id="Céditos">
          <h1 class="w3-jumbo w3-hide-small" style=" text-align: center; color: #5e3c58"><span>Créditos</span></h1>
          <h2 class="w3-hide-large  w3-hide-medium"
            style="font-size:40px; margin-top: 50px;  text-align: center; color: #5e3c58"><span>Créditos</span> </h2>

     <div class="w3-text-grey" id="Céditos">
        <h6 class="w3-hide-small">
            Esta pagina fue realizada gracias al trabajo de:
            <ul style="margin-left: 30px">
                <li>Bruno Muciño</li>
                <li>Diana Paredes</li>
                <li>Marleen Muñoz</li>
                <li>Yolloltl Hernández</li>
            </ul>
            <br><br><br>
        <p>
            Copyright 2020 Equipo 1<br>
            Por la presente se concede permiso, libre de cargos, a cualquier persona que obtenga una copia de este software y de los archivos de documentación asociados (el "Software"), a utilizar el Software sin restricción, incluyendo sin limitación los derechos a usar, copiar, modificar, fusionar, publicar, distribuir, sublicenciar, y/o vender copias del Software, y a permitir a las personas a las que se les proporcione el Software a hacer lo mismo, sujeto a las siguientes condiciones:<br><br>
                
            El aviso de copyright anterior y este aviso de permiso se incluirán en todas las copias o partes sustanciales del Software.<br><br>
                
                EL SOFTWARE SE PROPORCIONA "COMO ESTÁ", SIN GARANTÍA DE NINGÚN TIPO, EXPRESA O IMPLÍCITA, INCLUYENDO PERO NO LIMITADO A GARANTÍAS DE COMERCIALIZACIÓN, IDONEIDAD PARA UN PROPÓSITO PARTICULAR E INCUMPLIMIENTO. EN NINGÚN CASO LOS AUTORES O PROPIETARIOS DE LOS DERECHOS DE AUTOR SERÁN RESPONSABLES DE NINGUNA RECLAMACIÓN, DAÑOS U OTRAS RESPONSABILIDADES, YA SEA EN UNA ACCIÓN DE CONTRATO, AGRAVIO O CUALQUIER OTRO MOTIVO, DERIVADAS DE, FUERA DE O EN CONEXIÓN CON EL SOFTWARE O SU USO U OTRO TIPO DE ACCIONES EN EL SOFTWARE.
        </p>
        </h6>

        <h5 class="w3-hide-medium w3-hide-large">
                Esta pagina fue realizada gracias al trabajo de:
                <ul>
                    <li>Bruno Muciño</li>
                    <li>Diana Paredes</li>
                    <li>Marleen Muñoz</li>
                    <li>Yolloltl Hernández</li>
                </ul>
                <br><br><br>
                <p>
                    Copyright 2020 Equipo 1<br>
                    Por la presente se concede permiso, libre de cargos, a cualquier persona que obtenga una copia de este software y de los archivos de documentación asociados (el "Software"), a utilizar el Software sin restricción, incluyendo sin limitación los derechos a usar, copiar, modificar, fusionar, publicar, distribuir, sublicenciar, y/o vender copias del Software, y a permitir a las personas a las que se les proporcione el Software a hacer lo mismo, sujeto a las siguientes condiciones:<br><br>
                        
                    El aviso de copyright anterior y este aviso de permiso se incluirán en todas las copias o partes sustanciales del Software.<br><br>
                        
                        EL SOFTWARE SE PROPORCIONA "COMO ESTÁ", SIN GARANTÍA DE NINGÚN TIPO, EXPRESA O IMPLÍCITA, INCLUYENDO PERO NO LIMITADO A GARANTÍAS DE COMERCIALIZACIÓN, IDONEIDAD PARA UN PROPÓSITO PARTICULAR E INCUMPLIMIENTO. EN NINGÚN CASO LOS AUTORES O PROPIETARIOS DE LOS DERECHOS DE AUTOR SERÁN RESPONSABLES DE NINGUNA RECLAMACIÓN, DAÑOS U OTRAS RESPONSABILIDADES, YA SEA EN UNA ACCIÓN DE CONTRATO, AGRAVIO O CUALQUIER OTRO MOTIVO, DERIVADAS DE, FUERA DE O EN CONEXIÓN CON EL SOFTWARE O SU USO U OTRO TIPO DE ACCIONES EN EL SOFTWARE.
                </p>
            </h5>
            </div>
    </div>

    </header>
{% endblock %}