{% extends 'base.html' %}
{% block content %}
    <h2>Hello Puercas, {{ request.user }} </h2>
    <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sagittis augue eget sem suscipit interdum. Donec et bibendum elit. Vestibulum nibh erat, dignissim a tincidunt vitae, rutrum nec ante. Cras lobortis, erat ut interdum dapibus, quam lacus ultrices libero, et ullamcorper justo ex id neque. Maecenas ut enim feugiat, euismod risus et, ultricies dolor. Nam eu diam egestas, interdum mi sit amet, blandit urna.
    </p>
    <img src="{{ image }}">
{% endblock %}