{% extends "base.html" %}
{% block content %}
    <!-- Page Content -->
    <div class="w3-padding-large" id="inicio">
        <!-- Header/Home -->
        <header class="w3-container w3-padding-32 w3-center w3-black" id="inicio">
            <h1 class="w3-jumbo"><span class="w3-hide-small">Metodos Numericos II</span></h1>
        </header>

        <!-- Inicio Section -->
        <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="inicio">
            <h2 style="font-size: xx-large;">Introducción</h2>
            <hr style="width:200px" class="w3-opacity">
            <p>Contaré la historia<br>
                De una famosa persona,<br>
                Todos la conocen con el apodo de chona,<br>
                Todos la conocen con el apodo de chona…<br>
                <br>
                Su marido dice<br>
                Ya no sé qué hacer con ella,<br>
                Diario va los bailes y se compra una botella,<br>
                Diario va los bailes y se compra una botella…<br>
                <br>
                Se arranca la banda<br>
                Con la primera canción,<br>
                Y La Chona luego, luego busca bailador,<br>
                Y La Chona luego, luego busca bailador,<br>
                <br>
                La gente la mira<br>
                Y le empieza grita,<br>
                Bravo, bravo Chona nadie te puede igualar,<br>
                Bravo, bravo Chona nadie te puede igualar…<br>
                <br>
                Y La Chona se mueve,<br>
                Y la gente le grita,<br>
                No hay mejor que La Chona,<br>
                Para la quebradita,<br>
                Y La Chona se mueve,<br>
                Al ritmo que le toquen,<br>
                Ella baila de todo,<br>
                Nunca pierde su trote.<br>
                <br>
                (Y goza melodía)<br>
                Contaré la historia<br>
                De una famosa persona,<br>
                Todos la conocen con el apodo de chona,<br>
                Todos la conocen con el apodo de chona…<br>
                <br>
                Su marido dice<br>
                Ya no sé qué hacer con ella,<br>
                Diario va los bailes y se compra una botella,<br>
                Diario va los bailes y se compra una botella…<br>
                <br>
                Se arranca la banda<br>
                Con la primera canción,<br>
                Y La Chona luego, luego busca bailador,<br>
                Y La Chona luego, luego busca bailador,<br>
                <br>
                La gente la mira<br>
                Y le empieza grita,<br>
                Bravo, bravo Chona nadie te puede igualar,<br>
                Bravo, bravo Chona nadie te puede igualar…<br>
                <br>
                Y La Chona se mueve,<br>
                Y la gente le grita,<br>
                No hay mejor que La Chona,<br>
                Para la quebradita,<br>
                Y La Chona se mueve,<br>
                Al ritmo que le toquen,<br>
                Ella baila de todo,<br>
                Nunca pierde su trote.<br>
                <br>
                (Ritmo, y sabor,<br>
                Los Tucanes, De Tijuana)<br>
                <br>
                Y La Chona se mueve,<br>
                Y la gente le grita,<br>
                No hay mejor que La Chona,<br>
                Para la quebradita,<br>
                Y La Chona se mueve,<br>
                Al ritmo que le toquen,<br>
                Ella baila de todo,<br>
                Nunca pierde su trote<br>
            </p>
{% endblock %}
