{% extends "base.html" %}
{% block content %}
<!-- Page Content -->
<div class="w3-padding-large" id="inicio">
    <!-- Header/Home -->
    <header class="w3-container w3-padding-16 w3-center" id="inicio">
        <h1 class="w3-jumbo"><span class="w3-hide-small">Metodos Numericos II</span></h1>
        <h3 style="font-size: 50px; text-align: center;" class="w3-hide-large w3-hide-medium">Metodos Numericos II</h3>
    </header>

    <!-- Inicio Section -->
    <div class="w3-content w3-justify w3-text-grey w3-padding-32" id="inicio">
        <h2 style="font-size: xx-large;">Introducción</h2>
        <hr style="width:200px" class="w3-opacity">
        <p>
            Esta página esta dedicada para personas que quieren resolver ecuaciones no lineales por medio de métodos
            numericos, tales como Punto Fijo, Newton, etc...
            <br><br>
            Contamos con un apartado de resumenes, para dar información teorica del metodo consultado.
        </p>
        {% endblock %}