{% extends 'base.html' %}
{% block content %}
    <h1 class="w3-jumbo w3-hide-small" style=" text-align: center; color: #5e3c58"><span>Interpolación de Newton</span>
    </h1>

    <img src="{{ image }}">

    <div class="w3-padding-64 w3-content w3-text-grey" id="contacto">

    <h2 style="text-align: center">Polinomio Interpolador Hacia Adelante</h2>
    <div style="overflow: auto; overflow-y: hidden;  scrollbar-width: thin;  border: 1px solid gray;">
        <p style="font-size: large; text-align: left">\[{{ sucio }}\]</p>
        <p style="font-size: large; text-align: left">\[ \to\> {{ f }}\]</p>
    </div>

    &nbsp;

    <h2 style="text-align: center">Polinomio Interpolador Hacia Atrás</h2>
    <div style="overflow: auto; overflow-y: hidden;  scrollbar-width: thin;  border: 1px solid gray;">
        <p style="font-size: large; text-align: left">\[{{ sucioa }}\]</p>
        <p style="font-size: large; text-align: left">\[ \to\> {{ fa }}\]</p>
    </div>
    &nbsp;
    <div style="overflow: auto; overflow-y: hidden;  scrollbar-width: thin;  border: 1px solid gray;">
    <table style="margin: 0 auto;">
        <thead>
        <tr>
            <th st>x</ths>
            <th>f(x)</th>
            <th>Primeras</th>
            <th>Segundas</th>
            <th>Terceras</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> {{ datos.0.0 }}</td>
            <td>{{ datos.0.1 }}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>{{ primeras.0 }}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td> {{ datos.1.0 }}</td>
            <td> {{ datos.1.1 }}</td>
            <td></td>
            <td>{{ segundas.0 }}</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>{{ primeras.1 }}</td>
            <td></td>
            <td>{{ terceras.0 }}</td>
        </tr>
        <tr>
            <td> {{ datos.2.0 }}</td>
            <td> {{ datos.2.1 }}</td>
            <td></td>
            <td>{{ segundas.1 }}</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>{{ primeras.2 }}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td> {{ datos.3.0 }}</td>
            <td> {{ datos.3.1 }}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
    </div>
    &nbsp;
    <a href="/lagrange_" class="button"><span>Regresar</span></a>
{% endblock %}
