{% extends 'base.html' %}
{% block content %}
    <h1 class="w3-jumbo w3-hide-small" style=" text-align: center; color: #5e3c58"><span>Interpolación de Newton</span>
    </h1>

    <img src="{{ image }}">

    <div class="w3-padding-64 w3-content w3-text-grey" id="contacto">

    <h2 style="text-align: center">Polinomio Interpolador Hacia Adelante</h2>
    <div style="overflow: auto; overflow-y: hidden;  scrollbar-width: thin;  border: 1px solid gray;">
        <p style="font-size: large; text-align: left">\[{{ sucio }}\]</p>
        <p style="font-size: large; text-align: left">\[ \to\> {{ f }}\]</p>
    </div>

   &nbsp;

    <h2 style="text-align: center">Polinomio Interpolador Hacia Atrás</h2>
    <div style="overflow: auto; overflow-y: hidden;  scrollbar-width: thin;  border: 1px solid gray;">
        <p style="font-size: large; text-align: left">\[{{ sucioa }}\]</p>
        <p style="font-size: large; text-align: left">\[ \to\> {{ fa }}\]</p>
    </div>
    &nbsp;
<table>
  <tr>
    <th>x</th>
    <th>fx</th>
    <th>primeras</th>
    <th>segundas</th>
    <th>terceras</th>
  </tr>
        {% for value in results.datos %}
            <tr>
                {% for foo in value %}
                    <td>{{ foo }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
</table>
    <a href="/lagrange_" class="button"><span>Regresar</span></a>
{% endblock %}
