{% extends 'base.html' %}
{% block content %}
    <h1 class="w3-jumbo w3-hide-small" style=" text-align: center; color: #5e3c58"><span>Interpolación Polinómica de Lagrange</span>
    </h1>
    <h3 class="w3-hide-small"
        style="margin-left: auto; margin-right: auto; border-style: double; font-size: xx-large; text-align: center;">
        \[{{ result }}\]</h3>
    <img src="{{ image }}">
    <p style="font-size: xx-small">\[{{ Fun_obj }}\]</p>
    <a href="/lagrange_" class="button"><span>Regresar</span></a>
{% endblock %}
