{% extends "base.html" %}
{% block content %}
    <!-- Page Content -->
    <div class="w3-padding-large" id="Metodos">
        <!-- Header/Home -->
        <header class="w3-container  w3-padding-32 w3-center" id="Resumenes">
            <h1 class="w3-jumbo w3-hide-small" style=" text-align: center; color: #5e3c58"><span>Métodos</span></h1>
            <h2 class="w3-hide-large  w3-hide-medium"
                style="font-size:40px; margin-top: 30px; text-align: center; color: #5e3c58"><span>Métodos</span></h2>
        </header>

        <!-- Metodos Section -->
        <div id="Métodos">
            <hr class="w3-hide-large w3-hide-medium" style="margin-top: 0px;">
            <a href="/punto_fijo">
                </br></br>
                <h3 class="w3-hide-small"
                    style="margin-left: 200px; margin-right: 830px; border-style: double; font-size: xx-large; text-align: center;">
                    Punto
                    Fijo, Una y Multivariable</h3>
            </a>
            <a href="/metodo_newton">
                </br></br>
                <h3 class="w3-hide-small"
                    style="margin-left: 200px; margin-right: 830px; border-style: double; font-size: xx-large; text-align: center;">
                    Newton Una Variable</h3>
            </a>
            <a href="/newton_Multi">
                </br></br>
                <h3 class="w3-hide-small"
                    style="margin-left: 200px; margin-right: 830px; border-style: double; font-size: xx-large; text-align: center;">
                    Newton Multivariable</h3>
            </a>
            </br></br>
            <a href="/lagrange_">
                <h3 class="w3-hide-small"
                    style="margin-left: 200px; margin-right: 480px; border-style: double; text-align: center; font-size:  xx-large;">
                    Interpolación Polinómica de Lagrange</h3>
            </a>

            </br></br>
            <a href="/DifDiv">
                <h3 class="w3-hide-small"
                    style="margin-left: 200px; margin-right: 480px; border-style: double; text-align: center; font-size:  xx-large;">
                    Diferencias Divididas</h3>
            </a>

            </br></br>
            <a href="/InterNew">
                <h3 class="w3-hide-small"
                    style="margin-left: 200px; margin-right: 480px; border-style: double; text-align: center; font-size:  xx-large;">
                    Interpolación de Newton</h3>
            </a>


            <a href="/punto_fijo">
                <h4 class="w3-hide-medium w3-hide-large"
                    style="border-style: double; text-align: center; margin-top: 0px;">Punto
                    Fijo, Una y Multivariable</h4>
            </a>
            </br>
            <a href="/metodo_newton">
                <h4 class="w3-hide-medium w3-hide-large" style="border-style: double; text-align: center;">
                    Newton Una Variable</h4>
            </a>
            <a href="/newton_Multi">
                <h4 class="w3-hide-medium w3-hide-large" style="border-style: double; text-align: center;">
                    Newton Multivariable</h4>
            </a>
            </br>
            <a href="/lagrange_">
                <h3 class="w3-hide-medium w3-hide-large"
                    style="border-style: double; text-align: center; margin-top: 0px;">
                    Interpolación Polinómica de Lagrange</h3>
            </a>

            </br>
            <a href="/DifDiv">
                <h3 class="w3-hide-medium w3-hide-large"
                    style="border-style: double; text-align: center; margin-top: 0px;">
                    Diferencias Divididas</h3>
            </a>

            <a href="/InterNew">
                <h3 class="w3-hide-medium w3-hide-large"
                    style="border-style: double; text-align: center; margin-top: 0px;">
                    Interpolación de Newton</h3>
            </a>

        </div>
    </div>
{% endblock %}