{% extends "base.html" %}
{% block content %}
    <!-- Page Content -->
    <div class="w3-padding-large" id="Metodos">
        <!-- Header/Home -->
        <h1><span class="w3-hide-small">Métodos</span></h1>

        <!-- Resumenes Section -->
        <div class="w3-text-grey" id="Métodos">
            <h2 class="w3-hide-large  w3-hide-medium w3-text-light-grey"> Métodos</h2>
            <hr class="w3-hide-large w3-hide-medium" style="width:200px" class="w3-opacity">
            <a href="/punto_fijo">
                <h3 style="margin-left: 300px; margin-right: 830px; border-style: double; text-align: center;">
                    Punto Fijo</h3>
            </a>
            <a href="/metodo_newton">
                <h3 style="margin-left: 300px; margin-right: 830px; border-style: double; text-align: center;">
                    Newton Una Variable</h3>
            </a>

            <a href="/newton_Multi">
                <h3 style="margin-left: 300px; margin-right: 830px; border-style: double; text-align: center;">
                    Newton Multivariable</h3>
            </a>

            <a href="/lagrange_">
                <h3 style="margin-left: 300px; margin-right: 830px; border-style: double; text-align: center;">
                    Interpolación Polinómica de Lagrange</h3>
            </a>

        </div>
    </div>
{% endblock %}
