{% extends "base.html" %}
{% block content %}
    <!-- Page Content -->
    <div class="w3-padding-large" id="Resumenes">
        <!-- Header/Home -->
        <h1><span class="w3-hide-small">Resúmenes</span></h1>

        <!-- Resumenes Section -->
        <div class="w3-text-grey" id="Resumenes">
            <h2 class="w3-hide-large  w3-hide-medium w3-text-light-grey">Punto Fijo</h2>
            <hr class="w3-hide-large w3-hide-medium" style="width:200px" class="w3-opacity">
            <h3 class="w3-hide-small"
                style="margin-left: 200px; margin-right: 930px; border-style: double; text-align: center;">Punto
                Fijo</h3>
            <h4 class="small w3-hide-small" style="margin-left: 150px; margin-right: 50px; text-align: justify">
                Un punto fijo de una función G, es un número P tal que G(P)=P. El problema de encontrar las soluciones
                de una ecuación f(x)=0 y el de encontrar los puntos fijos de una función h(x) son equivalentes en el
                siguiente sentido: dado el problema de encontar las soluciones de una ecuación f(x)=0, podemos definir
                una función G con un punto fijo P de muchas formas; por ejemplo, f(x)=x - G(x). En forma inversa, si la
                función G tiene un punto fijo en P, entonces la función definida por f(x)=x - G(x) posee un cero en
                P.<br><br>

                El método de punto fijo inicia con una aproximación inicial x0 y x{n+1} = G(xn) genera una sucesión de
                aproximaciones la cual converge a la solución de la ecuación f(x)=0. A la función G se le conoce como
                función iteradora. Se puede demostrar que dicha sucesión (x_n) converge siempre y cuando |G'(x)| < 1.
                <br><br>
            </h4>
            <h5 class="w3-hide-large w3-hide-medium" style="text-align: justify;">
                Un punto fijo de una función G, es un número P tal que G(P)=P. El problema de encontrar las soluciones
                de una ecuación f(x)=0 y el de encontrar los puntos fijos de una función h(x) son equivalentes en el
                siguiente sentido: dado el problema de encontar las soluciones de una ecuación f(x)=0, podemos definir
                una función G con un punto fijo P de muchas formas; por ejemplo, f(x)=x - G(x). En forma inversa, si la
                función G tiene un punto fijo en P, entonces la función definida por f(x)=x - G(x) posee un cero en
                P.<br><br>

                El método de punto fijo inicia con una aproximación inicial x0 y x{n+1} = G(xn) genera una sucesión de
                aproximaciones la cual converge a la solución de la ecuación f(x)=0. A la función G se le conoce como
                función iteradora. Se puede demostrar que dicha sucesión (x_n) converge siempre y cuando |G'(x)| < 1.
                <br><br>
            </br></br>
            </h5>
            </body>
        </div>
    </div>
{% endblock %}
