{% extends "base.html" %}
{% block content %}
    <!-- Page Content -->
    <div class="w3-padding-large" id="Resumenes">
        <!-- Header/Home -->
        <header class="w3-container w3-padding-32 w3-center w3-black" id="Resumenes">
            <h1 class="w3-jumbo w3-hide-small" style=" text-align: center; color: #5e3c58"><span>Resúmenes</span></h1>
            <h2 class="w3-hide-large  w3-hide-medium" style="font-size:xx-large; text-align: center; color: #5e3c58"><span>Resúmenes</span></h2>
        </header>
        <!-- Resumenes Section -->
        <div class="w3-text-grey" id="Resumenes">

            <!-- Indice computadora -->
            <div class="w3-hide-small">
                <h4 style="margin-left: 155px"> Contenido: </h4> 
                <a style="margin-left: 180px; font-size: larger;"  href="#Punto_Fijo">1. Punto Fijo</a> </br>
                <a style="margin-left: 180px; font-size: larger;"  href="#Newton">2. Método de Newton</a> </br>
            </div>

            <!-- Indice celular -->
            <div class="w3-hide-large  w3-hide-medium">
                <h4> Contenido: </h4> 
                 <a style="margin-left: 30px; font-size: larger;"  href="#PFijo">1. Punto Fijo</a> </br>
                 <a style="margin-left: 30px; font-size: larger;"  href="#MNewton">2. Método de Newton</a> </br>
            </div>

            
            <a name="PFijo"></a>
            <a name="Punto_Fijo"></a>
            </br></br></br>
            <h2 class="w3-hide-large  w3-hide-medium" style= "font-size: x-large; border-style: double; margin-right: 165px; text-align: center;">Punto Fijo</h2>
            <hr class="w3-hide-large w3-hide-medium" style="width:200px" class="w3-opacity">
            <h3 class="w3-hide-small"style="margin-left: 200px; margin-right: 930px; border-style: double; font-size: large; text-align: center;">Punto
                Fijo</a></h3>
            <h4 class="small w3-hide-small" style="margin-left: 150px; margin-right: 50px; text-align: justify">
                Un punto fijo de una función G, es un número P tal que G(P)=P. El problema de encontrar las soluciones
                de una ecuación f(x)=0 y el de encontrar los puntos fijos de una función h(x) son equivalentes en el
                siguiente sentido: dado el problema de encontar las soluciones de una ecuación f(x)=0, podemos definir
                una función G con un punto fijo P de muchas formas; por ejemplo, f(x)=x - G(x). En forma inversa, si la
                función G tiene un punto fijo en P, entonces la función definida por f(x)=x - G(x) posee un cero en
                P.<br><br>

                El método de punto fijo inicia con una aproximación inicial x0 y x{n+1} = G(xn) genera una sucesión de
                aproximaciones la cual converge a la solución de la ecuación f(x)=0. A la función G se le conoce como
                función iteradora. Se puede demostrar que dicha sucesión (x_n) converge siempre y cuando |G'(x)| < 1.
                <br><br>
                </br></br></br></br>
            </h4>
            <h5 class="w3-hide-large w3-hide-medium" style="text-align: justify;">
                Un punto fijo de una función G, es un número P tal que G(P)=P. El problema de encontrar las soluciones
                de una ecuación f(x)=0 y el de encontrar los puntos fijos de una función h(x) son equivalentes en el
                siguiente sentido: dado el problema de encontar las soluciones de una ecuación f(x)=0, podemos definir
                una función G con un punto fijo P de muchas formas; por ejemplo, f(x)=x - G(x). En forma inversa, si la
                función G tiene un punto fijo en P, entonces la función definida por f(x)=x - G(x) posee un cero en
                P.<br><br>

                El método de punto fijo inicia con una aproximación inicial x0 y x{n+1} = G(xn) genera una sucesión de
                aproximaciones la cual converge a la solución de la ecuación f(x)=0. A la función G se le conoce como
                función iteradora. Se puede demostrar que dicha sucesión (x_n) converge siempre y cuando |G'(x)| < 1.
                
                </br></br></br></br>
                <hr class="w3-hide-large w3-hide-medium" style="width:200px" class="w3-opacity">
             </h5>  
             <a name="MNewton"></a>
             <a name="Newton"></a>
            </br></br></br> 
            <h2 class="w3-hide-large  w3-hide-medium" style= "font-size: x-large; border-style: double; margin-right: 80px; text-align: center;">Método de Newton</h2>
            
            <h3 class="w3-hide-small"
                style="margin-left: 200px; margin-right: 800px; border-style: double; font-size: large; text-align: center;">Método de Newton</h3>
            <h4 class="small w3-hide-small" style="margin-left: 150px; margin-right: 50px; text-align: justify">
                Este método es uno de los mas utilizados para localizar raíces ya que en general es muy eficiente y siempre converge para una función polinomial.
                <br>
                Se requiere que las funciones sean diferenciables, y por tanto, continuas, para poder aplicar este método.
                <br>
                Se debe partir de  un valor inicial para la raíz: xi , este puede ser cualquier valor, el método convergirá a la raíz mas cercana.
                <br>
                Si se extiende una tangente desde el punto b , el punto donde esta tangente cruza al eje x representa una aproximación mejorada de la raíz.
                
                </br></br></br></br>
            </h4>
            <h5 class="w3-hide-large w3-hide-medium" style="text-align: justify;">
                Este método es uno de los mas utilizados para localizar raíces ya que en general es muy eficiente y siempre converge para una función polinomial.
                <br>
                Se requiere que las funciones sean diferenciables, y por tanto, continuas, para poder aplicar este método.
                <br>
                Se debe partir de  un valor inicial para la raíz: xi , este puede ser cualquier valor, el método convergirá a la raíz mas cercana.
                <br>
                Si se extiende una tangente desde el punto b , el punto donde esta tangente cruza al eje x representa una aproximación mejorada de la raíz.
                <br><br>
                 </br></br></br></br>
            </h5>
            </body>
        </div>
    </div>
{% endblock %}
